.navbar {
    background-color: #0073e6;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  